@import "tailwindcss";

:root {
  color-scheme: dark;
  background-color: #222222;
}

select {
  /* remove default arrow */
  -webkit-appearance: none;
  appearance: none;
  /* add custom */
  background-image: url("/icons/caret-down.svg");
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
}